

	<div id="body" class="movies">
		<h2>Movies</h2>
		<ul>
			<li>
				<a href="movie-details.html"><img src="~/assets/images/baby-with-dog2.jpg" alt=""></a>
				<h3>Movie Title</h3>
				<p>
					This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this websitetemplate, then don't hesitate to ask for help on the Forums. You can replace all this text.
				</p>
				<a href="movie-details.html">Read More</a>
			</li>
		</ul>
	</div>
	
